[
 {rabbit,
  [
    {tcp_listeners, [
      {{#if cfg.rabbitmq.listen_host ~}}
      {"{{cfg.rabbitmq.listen_host}}", {{cfg.rabbitmq.listen_port}}}
      {{else ~}}
      {{cfg.rabbitmq.listen_port}}
      {{/if ~}}
    ]},
    {default_vhost,       <<"{{cfg.rabbitmq.default_vhost}}">>},
    {default_user,        <<"{{cfg.rabbitmq.default_user}}">>},
    {default_pass,        <<"{{cfg.rabbitmq.default_pass}}">>},
    {{#if bind.rabbitmq ~}}
    {cluster_nodes, { [{{#eachAlive bind.rabbitmq.members as |member|}}{{#if @last}}'rabbit@{{member.sys.hostname}}'{{else}}'rabbit@{{member.sys.hostname}}', {{/if}}{{/eachAlive}}], disc}},
    {{/if ~}}
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]}
  ]}
].
