-   repo: git://github.com/pre-commit/pre-commit-hooks
    sha: 3fa02652357ff0dbb42b5bc78c673b7bc105fcf3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
        exclude: config/.*$
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: git://github.com/detailyang/pre-commit-shell
    sha: 28f9ecf7857d17ebd9d1715cb5bf208c9e8e2bdd
    hooks:
    -   id: shell-lint
        args: ["--exclude=SC1090,SC1091,SC2034,SC2039,SC2148,SC2153,SC2154"]
        exclude: config/.*$
-   repo: local
    hooks:
    -   id: check-default-variables
        name: Check for Habitat default plan variables
        entry: ./bin/check-default-variables.sh
        language: system
        files: plan.sh$
