* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive
libsodium
nginx @predominant
postgresql @irvingpop @habitat-sh/habitat-core-plans-maintainers
protobuf  @habitat-sh/habitat-core-plans-maintainers
protobuf-rust  @habitat-sh/habitat-core-plans-maintainers
zeromq  @habitat-sh/habitat-core-plans-maintainers

# # Base Plans
# The following plans are collectively known as the "base" plans.
# For more information see `docs/dev/guide_documents/base-plans.md` in this repository.

# These packages should not be updated outside of a base plans refresh.
linux-headers
glibc
zlib
file
binutils
m4
gmp
mpfr
libmpc
gcc
gcc-libs
gdbm
patchelf
pkg-config
ncurses
attr
acl
libcap
sed
procps-ng
coreutils
bison
flex
pcre
grep
gawk
db
inetutils
diffutils
autoconf
automake
findutils
xz
gettext
make
patch
texinfo
util-linux
tcl
bzip2
expect
less
perl
dejagnu
python-minimal

# These packages are generally safe to update in a normal builder workflow, but still
# require additional care when updating. Updates to these plans should be coordinated
# with the Habitat team when possible. See `docs/dev/guide_documents/base-plans.md` in this repository
# for more information

shadow
psmisc
readline
bash
bc
tar
libtool
expat
iana-etc
gzip
check
libidn
cacerts
openssl @echohack
libiconv
libunistring
libidn2
wget
unzip
rq
linux-headers-musl
musl
busybox-static
zlib-musl
bzip2-musl
xz-musl
libsodium-musl
openssl-musl
libarchive-musl
rust @habitat-sh/habitat-core-maintainers
vim
libbsd
clens
mg
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

alex @wduncanfraser
artifactory-pro 
asciinema @jasonwbarnett
benchmark @bdangit
cabal-install @wduncanfraser
cerebro @predominant
clojure @johnjelinek
concourse @echohack
concourse-fly @echohack
consul  @predominant
corretto @johnjelinek
corretto8 @johnjelinek
corretto11 @johnjelinek
cuda @bdangit
cuda-libs @bdangit
dcrpm @jasonwbarnett
dep @afiune @predominant
dotnet-47-dev-pack @mwrock
dotnet-asp-core 
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant @echohack
fd @jasonwbarnett
filebeat @predominant @echohack
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @predominant
gocd-server @predominant
googletest @bdangit
grpcurl @afiune
happy @wduncanfraser
hugo @tduffield @cnunciato @predominant
innounp @mwrock
jenkins @predominant
journalbeat @thomascate @echohack
json-c @jasonwbarnett
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc 
mage @predominant
metricbeat @echohack
mssql @mwrock
nano @predominant
nmap 
nss-myhostname @robbkidd
nuget @mwrock
openjdk11 @irvingpop
optipng @predominant
p4broker @dbhagen
pngquant @predominant
postgresql-client @joshbrand @irvingpop
postgresql11 @irvingpop
postgresql11-client @irvingpop
prometheus-cpp @bdangit
protobuf-cpp @afiune
redis @irvingpop
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform  @echohack @predominant
tlog @jasonwbarnett
vault  @predominant
visual-build-tools-2017 @mwrock
wrk @afiune @predominant
