* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @reset @fnichol @raskchanky @nellshamrell
libsodium @reset @fnichol @raskchanky @nellshamrell
nginx @reset @fnichol @raskchanky @nellshamrell
postgresql @reset @fnichol @irvingpop @raskchanky @nellshamrell
protobuf @reset @fnichol @raskchanky @nellshamrell
protobuf-rust @reset @fnichol @raskchanky @nellshamrell
zeromq @reset @fnichol @raskchanky @nellshamrell

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @fnichol
glibc @fnichol @reset
zlib @fnichol
file @fnichol
binutils @fnichol
m4 @fnichol
gmp @fnichol
mpfr @fnichol
libmpc @fnichol
gcc @fnichol
gcc-libs @fnichol @reset
patchelf @fnichol
bzip2 @fnichol
pkg-config @fnichol
ncurses @fnichol
attr @fnichol
acl @fnichol
libcap @fnichol
sed @fnichol
shadow @fnichol
psmisc @fnichol
procps-ng @fnichol
coreutils @fnichol
bison @fnichol
flex @fnichol
pcre @fnichol
grep @fnichol
readline @fnichol
bash @fnichol @nellshamrell
bc @fnichol
tar @fnichol @nellshamrell
gawk @fnichol
libtool @fnichol
gdbm @fnichol
expat @fnichol
db @fnichol
inetutils @fnichol
iana-etc @fnichol
less @fnichol
perl @fnichol
diffutils @fnichol
autoconf @fnichol
automake @fnichol
findutils @fnichol
xz @fnichol
gettext @fnichol
gzip @fnichol
make @fnichol
patch @fnichol
texinfo @fnichol
util-linux @fnichol
tcl @fnichol
expect @fnichol
dejagnu @fnichol
check @fnichol
libidn @fnichol
cacerts @fnichol
openssl @fnichol @reset
wget @fnichol
unzip @fnichol @nellshamrell
rq @fnichol
linux-headers-musl @fnichol @nellshamrell
musl @fnichol @nellshamrell
busybox-static @fnichol
zlib-musl @fnichol
bzip2-musl @fnichol
xz-musl @fnichol
libsodium-musl @fnichol @reset
openssl-musl @fnichol
libarchive-musl @fnichol @reset
rust @fnichol @reset @raskchanky @nellshamrell
vim @fnichol @nellshamrell
libbsd @fnichol
clens @fnichol
mg @fnichol
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

acbuild @rsertelon
artifactory-pro @defilan
atk @rsertelon
cairo @rsertelon
cerebro @predominant
concourse @echohack
concourse-fly @echohack
consul @defilan
dep @afiune @nellshamrell
dotnet-47-dev-pack @mwrock
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant
filebeat @predominant
gdk-pixbuf @rsertelon
glib @rsertelon
go @afiune @nellshamrell
grpcurl @afiune
gtk2 @rsertelon
harfbuzz @rsertelon
hugo @tduffield @cnunciato
innounp @mwrock
jdk7 @predominant @rsertelon
jdk8 @predominant @rsertelon
jdk9 @predominant @rsertelon
jenkins @predominant
jre7 @predominant @rsertelon
jre8 @predominant @rsertelon
jre9 @predominant @rsertelon
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
monit @rsertelon
mosquitto @rsertelon
mssql @mwrock
nano @predominant
nmap @defilan
nuget @mwrock
optipng @predominant
pango @rsertelon
pngquant @predominant
postgresql-client @joshbrand @irvingpop
protobuf-cpp @afiune
rabbitmqadmin @predominant
redis @irvingpop
shared-mime-info @rsertelon
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack
vault @defilan
visual-build-tools-2017 @mwrock
wrk @afiune
