* @habitat-sh/habitat-core-plans-maintainers

scaffolding-* @habitat-sh/scaffolding-maintainers

# Builder Plans
#
# All of these plans are critical for Builder's operation and build

libarchive @smacfarlane
libsodium @smacfarlane
nginx @predominant
postgresql @irvingpop @habitat-sh/habitat-core-plans-maintainers
protobuf @smacfarlane @habitat-sh/habitat-core-plans-maintainers
protobuf-rust @smacfarlane @habitat-sh/habitat-core-plans-maintainers
zeromq @smacfarlane @habitat-sh/habitat-core-plans-maintainers

# # Base Plans
#
# These plans are known as "base" plans which are used to build Habitat from
# nothing and are in build order. Consequently, these need a closer look when
# accepting changes, updating versions, etc.

linux-headers @smacfarlane
glibc @smacfarlane
zlib @smacfarlane
file @smacfarlane
binutils @smacfarlane
m4 @smacfarlane
gmp @smacfarlane
mpfr @smacfarlane
libmpc @smacfarlane
gcc @smacfarlane
gcc-libs @smacfarlane
patchelf @smacfarlane
bzip2 @smacfarlane
pkg-config @smacfarlane
ncurses @smacfarlane
attr @smacfarlane
acl @smacfarlane
libcap @smacfarlane
sed @smacfarlane
shadow @smacfarlane
psmisc @smacfarlane
procps-ng @smacfarlane
coreutils @smacfarlane
bison @smacfarlane
flex @smacfarlane
pcre @smacfarlane
grep @smacfarlane
readline @smacfarlane
bash @smacfarlane
bc @smacfarlane
tar @smacfarlane
gawk @smacfarlane
libtool @smacfarlane
gdbm @smacfarlane
expat @smacfarlane
db @smacfarlane
inetutils @smacfarlane
iana-etc @smacfarlane
less @smacfarlane
perl @smacfarlane
diffutils @smacfarlane
autoconf @smacfarlane
automake @smacfarlane
findutils @smacfarlane
xz @smacfarlane
gettext @smacfarlane
gzip @smacfarlane
make @smacfarlane
patch @smacfarlane
texinfo @smacfarlane
util-linux @smacfarlane
tcl @smacfarlane
expect @smacfarlane
dejagnu @smacfarlane
check @smacfarlane
libidn @smacfarlane
cacerts @smacfarlane
openssl @echohack @smacfarlane
libiconv @smacfarlane
libunistring @smacfarlane
libidn2 @smacfarlane
wget @smacfarlane
unzip @smacfarlane
rq @smacfarlane
linux-headers-musl @smacfarlane
musl @smacfarlane
busybox-static @smacfarlane
zlib-musl @smacfarlane
bzip2-musl @smacfarlane
xz-musl @smacfarlane
libsodium-musl @smacfarlane
openssl-musl @smacfarlane
libarchive-musl @smacfarlane
rust @habitat-sh/habitat-core-maintainers
vim @smacfarlane
libbsd @smacfarlane
clens @smacfarlane
mg @smacfarlane
powershell @mwrock
7zip @mwrock
docker-credential-helper @mwrock
lessmsi @mwrock
visual-cpp-build-tools-2015 @mwrock
visual-cpp-redist-2013 @mwrock
wix @mwrock

# # Community Plans
#
# These plans are contributed and supported by community members, and are
# not critical for the build/development of Habitat itself. Election or
# inclusion here is voluntary.
# This list shall be alphabetical, for sanity purposes.

alex @wduncanfraser
artifactory-pro @defilan
asciinema @jasonwbarnett
benchmark @bdangit
cabal-install @wduncanfraser
cerebro @predominant
clojure @johnjelinek
concourse @echohack
concourse-fly @echohack
consul @defilan @predominant
corretto @johnjelinek
corretto8 @johnjelinek
corretto11 @johnjelinek
cuda @bdangit
cuda-libs @bdangit
dcrpm @jasonwbarnett
dep @afiune @predominant
dotnet-47-dev-pack @mwrock
dotnet-asp-core @defilan
dotnet-core-lts @mwrock
dotnet-core-sdk-lts @mwrock
dotnet-core-sdk-preview @mwrock
dotnet-core-sdkdotnet-core @mwrock
dsc-core @mwrock
elasticsearch @joshbrand @predominant @echohack
fd @jasonwbarnett
filebeat @predominant @echohack
ghc @wduncanfraser
ghc710 @wduncanfraser
ghc710-bootstrap @wduncanfraser
ghc80 @wduncanfraser
ghc82 @wduncanfraser
ghc82-bootstrap @wduncanfraser
ghc84 @wduncanfraser
go @afiune @predominant
gocd-server @predominant
googletest @bdangit
grpcurl @afiune
happy @wduncanfraser
hugo @tduffield @cnunciato @predominant
innounp @mwrock
jenkins @predominant
journalbeat @thomascate @echohack
json-c @jasonwbarnett
kibana @joshbrand @predominant
logstash @joshbrand @predominant
libimagequant @predominant
libtalloc @defilan
mage @predominant
metricbeat @echohack
mssql @mwrock
nano @predominant
nmap @defilan
nss-myhostname @robbkidd
nuget @mwrock
openjdk11 @irvingpop
optipng @predominant
p4broker @dbhagen
pngquant @predominant
postgresql-client @joshbrand @irvingpop
postgresql11 @irvingpop
postgresql11-client @irvingpop
prometheus-cpp @bdangit
protobuf-cpp @afiune
redis @irvingpop
shellcheck @wduncanfraser
sqitch @irvingpop
sqitch_pg @irvingpop
sqlserver @mwrock
sqlserver-ha-ag @mwrock
terraform @defilan @echohack @predominant
tlog @jasonwbarnett
vault @defilan @predominant
visual-build-tools-2017 @mwrock
wrk @afiune @predominant
