rootLogger: INFO, console

logger:
  # log action execution errors for easier debugging
  action: DEBUG


appender:
  console:
    type: console
    layout:
      type: consolePattern
      conversionPattern: "[%d{ISO8601}][%-5p][%-25c] %m%n"
