# habitat provided config file
#
# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'codelab-monitor'

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first.rules"
  # - "second.rules"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']
  {{#if bind.targets ~}}
  - job_name:  'from_hab_ring'
    static_configs:
      {{#each bind.targets.members as |target| ~}}
      - targets: ['{{target.sys.ip}}:{{target.cfg.metric-http-port}}']
      {{/each ~}}
  {{/if ~}}

  {{#if svc.me.follower ~}}
  # example from https://prometheus.io/docs/operating/federation/
  - job_name: 'federate'
    scrape_interval: 15s

    honor_labels: true
    metrics_path: '/federate'

    params:
      'match[]':
        - '{job="prometheus"}'
        - '{__name__=~"job:.*"}'

    static_configs:
      - targets:
        - '{{svc.leader.sys.ip}}:{{svc.leader.cfg.prom_ds_http}}'
  {{/if ~}}
