[client]
user={{bind.database.first.cfg.username}}
password='{{bind.database.first.cfg.password}}'
{{#if bind.database.first.cfg.ipaddress}}
host={{bind.database.first.cfg.ipaddress}}
{{/if}}
{{#unless bind.database.first.cfg.ipaddress}}
host={{bind.database.first.sys.ip}}
{{/unless}}
port={{bind.database.first.cfg.port}}
