[mysqld_safe]
pid-file           = {{pkg.svc_var_path}}/mysqld.pid
socket             = {{pkg.svc_var_path}}/mysqld.sock
nice               = 0

[mysqld]
port               = {{cfg.port}}
socket             = {{pkg.svc_var_path}}/mysqld.sock
datadir            = {{pkg.svc_data_path}}
pid-file           = {{pkg.svc_var_path}}/mysqld.pid
log-error          = mysqld-err.log
log-isam           = mysqld-isam.log
log-tc             = mysqld-tc.log
aria-log-dir-path  = {{pkg.svc_data_path}}/mysqld-aria
master-info-file   = mysqld-master.info
{{~#if cfg.general_log}}
general-log        = TRUE
general-log-file   = {{pkg.svc_var_path}}/mysqld.log
{{~/if}}
{{~#if cfg.bind_address}}
bind-address       = {{cfg.bind_address}}
{{~/if}}
init-file          = {{pkg.svc_config_path}}/init.sql
